body{
		background-color:black;
}
#container{
	background: url('background.jpg');
	width:1000px;
	height:550px;
}

#hero {
    background: url('2.gif'); /* Ova slika ostaje ista */
	background-size: cover; /* Automatski prilagođava dimenzije slike */
    background-position: center; /* Centriranje slike */
    width: 80px; /* Nova širina */
    height: 80px; /* Nova visina */
    position: absolute;
}

.enemy1 {
    background: url('1.gif'); /* Zameni sa odgovarajućim GIF-om */
    background-size: cover; /* Automatski prilagođava dimenzije slike */
    background-position: center; /* Centriranje slike */
    width: 40px; /* Nova širina */
    height: 40px; /* Nova visina */
    position: absolute;
}


.bullet {
    background: url('1942.gif'); /* Sprite slika ostaje ista */
    background-position: -185px -400px; /* Ažurirano */
    background-size: auto; /* Držimo originalni izgled sprite slike */
    width: 18px; /* Povratak na originalnu veličinu metka */
    height: 18px;
    position: absolute;
}



#score{
	position:absolute;
	border:10px solid red;
	top:20px;
	left:800px;
	background-color:white;
	padding:10px;
	font-size:30px;
	font-family: Arial;	
}