body{
		background-color:black;
}
#container{
	background: url('background.jpg');
	width:1200px;
	height:500px;
}

#hero {
    background: url('dron.gif'); /* Ova slika ostaje ista */
	background-size: cover; /* Automatski prilagođava dimenzije slike */
    background-position: center; /* Centriranje slike */
    width: 80px; /* Nova širina */
    height: 80px; /* Nova visina */
    position: absolute;
}

.enemy1 {
    background: url('mrlja.gif'); /* Zameni sa odgovarajućim GIF-om */
    background-size: cover; /* Automatski prilagođava dimenzije slike */
    background-position: center; /* Centriranje slike */
    width: 50px; /* Nova širina */
    height: 50px; /* Nova visina */
    position: absolute;
}


.bullet {
    background: url('mreza.gif'); /* Sprite slika ostaje ista */
    background-size: cover; /* Automatski prilagođava dimenzije slike */
    background-position: center; /* Centriranje slike */
    width: 80px; /* Povratak na originalnu veličinu metka */
    height: 80px;
    position: absolute;
}



#score{
	position:absolute;
	border:10px solid red;
	top:20px;
	left:1000px;
	background-color:white;
	padding:10px;
	font-size:30px;
	font-family: Arial;	
}